body, h1, h2{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-color: #212f3c;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-bottom: 10px;
    font-size: 2.5vw;
    color: white;
}
section{
    background-color: white;
    width: 28vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 10px;
}

article{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(155, 155, 155, 0.144);
}

article img{
    width: 20%;
    border-radius: 50%;
    border: 1px solid rgba(155, 155, 155, 0.288);
}

.info{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1vh;
}

.info h2{
    color: #212f3c;
    font-size: 1.5vw;
}

.info p{
    color: #6894bd;
    font-size: 1vw;
}

.icons{
    padding: 0;
    border: none;
    margin-left: auto;
}
.icons a i{
    display: none;
    width: 10px;
    height: 10px;
    padding: 10px;
}

article:hover{
    background-color: #abb2b9;
}
article:hover .icons a i{
    display: flex;
}