.hero-banner{
    background-image: url('../images/bg_topo_1600x1374.jpg');
    background-position: top;
}

.hero-banner .hero-banner__icon{
    height: 7.5rem;
}
.hero-banner p{
    width: 50%;
    margin: 0 auto;
}