.main-div form{
    flex-grow: 2;
}
.main-div .second-half{
    flex-grow: 1;
    padding-left: 2rem;
    color: white;
}
.main-section_h1{
    padding-bottom:1rem;
}

.main-section_h2{
    font-size: 1.2rem;
}

input, textarea{
    padding: .3rem;
}

.input-container{
    display: flex;
    color: white;
    flex-direction: column;
}

.input-radio, .input-checkbox{
    padding: .35rem 0em 0em;
    font-size: .925rem;
}

.main-div{
    display: flex;
}

.interaction-container{
    display: flex;
    gap: 1rem;
}
.interaction-container input{
    flex-grow: 1;
    border-radius: .1rem;
    border: none;
}

.interaction-container input:nth-last-child(1){
    background-color: transparent;
    color: white;
    outline: 1px solid;
}

.row{
    display: flex;
    gap: 1rem;
}

.row>*{
    flex: 1 0 0%;
}

.input-submit{
    width: 100%;
    background-color: #00000070;
    border: 1px solid white;
    color: white;
    margin-top: 1rem;
    padding: .5rem 0;
    border-radius: 5px;
}

.select-label{
    color: white;
    display: block;
}
.select{
    width: 100%;
    padding: .3rem 0;
    border-radius: 5px;
    font-size: 1.05rem;
}
input, textarea, .select{
    margin: .3rem 0;
}
